.ow-cities-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 20px;
}

.ow-cities-list-title {
  text-align: center;
}
