<div class="ow-detail-title">
  <span class="mat-headline">Evolution of {{ cityInfo.name }} forecast</span>
</div>

<div class="ow-charts-container">
  <ow-temperature-chart class="ow-chart" [forecastData]="forecast"></ow-temperature-chart>
  <ow-precipitation-chart class="ow-chart" [forecastData]="forecast"></ow-precipitation-chart>
  <ow-humidity-chart class="ow-chart" [forecastData]="forecast"></ow-humidity-chart>
</div>

<div class="ow-daily-container">
  <ow-daily-list [dailyForecast]="dailyForecast"></ow-daily-list>
</div>
